@import "./variables";

.App {
  background-color: $appBackgroundColor;
}

.app__header {
  background-color: $appBackgroundColor;
}

.app__body {
  background-color: $appBackgroundColor;
  height: 100vh;
}
