@import "./variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: $appBackgroundColor;
}

.app__header {
  background-color: $appBackgroundColor;
}

.app__body {
  background-color: $appBackgroundColor;
  height: 100vh;
}

.page__wrapper {
  color: $textColor;
}
